body {
    margin: 0%;
    background-color: #65737f;
}

.form-control{
    margin-top: 4%;
}

.container {
    margin-top: 10%;
    padding: 2em;
}

.fw-bold,
span {
    color: white;
}

.btn {
    margin-top: 6%;
}

.formContainer{
    width: 20%;
    margin-left: 40%;
    margin-top: 10%;
}