<%- include('../partials/head') %>


    <h1>Hello World!</h1>

    <form action="">
        <input type="email"><br>
        <input type="password"><br>
        <input type="submit"><br>
    </form>

    <%- include('../partials/footer') %>