<%- include('../partials/head') %>

<div class="text-center center-div" id="login">
  <div class="container w-25 border py-5">
    <div class="title pb-5">
      <h2 class="fw-bold">Create new user</h2>
      <span>Create a new account</span>
    </div>
    <!-- I'm the "action" value of this form, I'm going to especify what the form is going to do 
    when I click the Submit button-->
    <form action='/home' method="POST">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="firstName">
          </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Lastname" name="lastName">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-danger rounded-pi">Create</button>
  </div>
</div>

<%- include('../partials/footer') %>